@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Jost', sans-serif;
}

:root {
  color-scheme: light;
}

* {
  scroll-behavior: smooth;
}

nav {
  z-index: 1001 !important;
}

.navbar__mobile {
  @apply block fixed top-0 right-0 left-0 z-10;
}